body{

    background-image: url("jbolo.png")
}

h1.regh1 {
    padding-top: 20px;
    font-style: normal;
    padding-inline-start: 785px;
    color: navy;
    font-size: -webkit-xxx-large;
    text-shadow: 0px 13px 53px rgb(14, 12, 43);
    text-decoration: underline;
    
}

.regform{

    box-shadow: 25px 20px 50px rgb(112, 109, 107);
    font-style: bold;
    padding-inline-start: 8%;
    padding-top: 80px;
    font-size: 150%;
    align-items: center;
    background-color: rgb(159, 213, 226);
    backdrop-filter: 10px;
    height: 600px;
    margin-inline-start: 500px;
    margin-inline-end: 470px;
    border-radius: 30px;
    background-position: 25%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input.regname[type=text], select {
    margin-inline-start: 10px;
    width: 80%;
    padding: 15px;
    border: 0.5px solid rgb(78, 236, 72);
    border-radius: 6px;
    resize: vertical;
    font-size: 20px;
    border-radius: 10px;
    margin: 0px 0px 0px 20px;
    
}

input.regname[type=text]:focus {
    background-color: #87ec90;
}

input.regmail[type=email], select {
    margin-inline-start: 10px;
    width: 80%;
    padding: 15px;
    border: 0.5px solid rgb(78, 236, 72);
    border-radius: 6px;
    resize: vertical;
    font-size: 20px;
    margin: 0px 0px 0px 20px;
    border-radius: 10px;
}

input.regmail[type=email]:focus {
    background-color: #87ec90;
}

input.regmob[type=number], select {
    margin-inline-start: 10px;
    width: 80%;
    padding: 15px;
    border: 0.5px solid rgb(78, 236, 72);
    border-radius: 6px;
    resize: vertical;
    font-size: 20px;
    margin: 0px 0px 0px 20px;
    border-radius: 10px;
}

input.regmob[type=number]:focus {
    background-color: #87ec90;
}


input.regdate[type=date], select {
    margin-inline-start: 10px;
    width: 80%;
    padding: 15px;
    border: 0.5px solid rgb(78, 236, 72);
    border-radius: 6px;
    resize: vertical;
    font-size: 20px;
    margin: 0px 0px 0px 20px;
    border-radius: 10px;
}

input.regdate[type=date]:focus {
    background-color: #87ec90;
}

input.regpass[type=password], select {
    margin-inline-start: 20px;
    width: 80%;
    padding: 15px;
    border: 0.5px solid rgb(78, 236, 72);
    border-radius: 6px;
    resize: vertical;
    font-size: 20px;
    margin: 0px 0px 0px 20px;
    border-radius: 10px;
}

input.regpass[type=password]:focus {
    background-color: #87ec90;
}

input.regsubmit[type=submit]{

    width: 50%;
    padding: 15px;
    margin: 70px 10px 10px 120px;
    border-radius: 10px;
    font-size: 25px;
}

button.regreset[type=reset]{

    width: 80%;
    padding: 15px;
    margin: 70px 10px 10px 10px;
    border-radius: 10px;
    font-size: 25px;
}

/*************************************************************************************************************
**************************************************************************************************************/

h1.logh1 {
    padding-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-inline-start: 810px;
    color: rgb(31, 103, 170);
    font-size: 45px;
    /* text-shadow: 0px 13px 53px rgb(14, 12, 43); */
    text-decoration: underline;
}

h2.logh2 {
    padding-top: 10px;
    font-style: normal;
    padding-inline-start: 865px;
    color: rgb(128, 0, 38);
    font-size: 37px;
    text-shadow: 0px 13px 53px rgb(14, 12, 43);
    text-decoration: underline;
}

form.logform{

    box-shadow: 20px 40px 50px hsla(7, 71%, 61%, 0.911);
    font-style: bold;
    padding-inline-start: 5%;
    padding-top: 70px;
    font-size: 150%;
    align-items: center;
    background-color: #a7b2b9;
    height: 300px;
    margin-inline-start: 650px;
    margin-inline-end: 650px;
    border-radius: 10px;
    background-position: 25%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


input.logmail[type=email], select {
    margin-inline-start: 10px;
    width: 70%;
    padding: 12px;
    border: 0.5px solid rgb(78, 236, 72);
    border-radius: 6px;
    resize: vertical;
    font-size: 20px;
    margin: 0px 0px 0px 20px;
    border-radius: 10px;
}

input.logmail[type=email]:focus {
    background-color: #87ec90;
}

input.logpass[type=password], select {
    /* margin-inline-start: 5px; */
    width: 75%;
    padding: 10px;
    border: 0.5px solid rgb(78, 236, 72);
    border-radius: 6px;
    resize: vertical;
    font-size: 20px;
    margin: 40px 40px 0px 20px;
    border-radius: 10px;
}

input.logpass[type=password]:focus {
    background-color: #87ec90;
}

input.loginbut[type=submit]{

    width: 40%;
    padding: 13px;
    margin: 70px 10px 10px 80px;
    border-radius: 10px;
    font-size: 25px;
}

button.logbutton[type=button]{

    width: 100%;
    padding: 13px;
    margin: 70px 10px 10px 00px;
    border-radius: 10px;
    font-size: 25px;
}
