<!-- <!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />

    <title>Page Title</title>

    <link rel="stylesheet" href="../asset/style.css" />
    <script src="script.js"></script>
style="background-color:aqua; width: 100%; height: 8%; float: top"
</head> -->

<!-- <body> -->
<div id="container">
    <div id="header">
        <!-- <div id="logo"><img src="../images/chatapp.png" width="100px" height="100px"></div> -->
        <h1 class="h1" align="center">CHAT APP</h1>
        <p ng-repeat = "uname in userName" id="userName">{{uname}}</p>
        <div id="logout"><button id=logoutButton type="button" ng-click ="logout()">Logout</button></div>
    </div>
    <div id=Area>
        <div id="leftarea">
            <div id="user" ><li id="memberlist" ng-repeat = "name in userlist">
                <a href ng-click = "person(name.userid, name.username)">{{name.username}}</a>
            </li></div>
        </div>
        <div id="rightarea">
            <div id="messagebox" >
                <div ><div ng-repeat = "chat in chatlist"><p  id="leftmessgContainer" ng-if = "currentUserId != chat.userid">{{chat.username}} : <span id="messgText">{{chat.message}}</span><br><br><span id="left-time">{{chat.dateTime | date: 'medium'}}</span></p>
                        <p id="rightMessgContainer" ng-if = "currentUserId == chat.userid">{{chat.username}} : <span id="messgText">{{chat.message}}</span><br><br><span id="right-time">{{chat.dateTime | date: 'medium'}}</span></p></div>
                </div>
            </div>
            <div id="sendbox">
                <div id="textarea">
                    <textarea id="text" rows="4" cols="50" placeholder="Enter your message" ng-model = "message" required></textarea><button id="sendbtn" type="button" placeholder="send" ng-click = "add()">send!</button>
                </div>

            </div>dashboard
        </div>
    </div>
</div>


<!-- <textarea class="chatbox" rows="8" cols="75"></textarea>
</div><div></div><button class = "sendButton" type="submit" >Send</button>
</div> -->


<!-- </body> -->
<!-- 
</html> -->