<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />

    <title>Page Title</title>

    <link rel="stylesheet" href="../asset/style.css" />
    <script src="script.js"></script>

</head>

<body>
    <div class="tilePanal" style="background-color:aqua; width: 100%; height: 8%; float: top"></div>
    <div class="memberPanal"></div>
    <div class="chatPanal">

        <div class="messPanal"></div>
        <div>
            <textarea class="chatbox" rows="5" cols="160"></textarea><button class="sendButton" type="submit">Send</button>
        </div>
    </div>

    <!-- <div>
    <textarea class="chatbox" rows="8" cols="75"></textarea>
</div><div></div><button class = "sendButton" type="submit" >Send</button>
</div> -->

</body>

</html>