<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Login_Page</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../asset/style.css" />

</head> -->
<!-- <> -->

<div>
    <h1 class="logh1">ChatApp</h1>
    <h2 class="logh2">Login</h2>

    <div>

        <form class="logform">

            <table style="width: 100%">

                <tr>
                    <td>
                        Email : </td>
                    <td><input class="logmail" name="email" type="email" value="" placeholder="eg. abc123@xyz.com" ng-model = user.email required></td>
                <tr> </tr>
                </tr>
                <tr><td style="
                    padding-top: 48px">Password : </td>
                    <td><input class="logpass" name="password" type="password" value="" placeholder="" ng-model = user.password required></td>
                <tr></tr>
                </tr>
            </tr>
            <tr><td><a href="#!/registration"><button class="logbutton" type="button" >Sign-up</button></a></td>
                <td><input class="loginbut" name="submit" type="submit" ng-click = "login()"></td>
            </tr>
            <!-- <a href="#!/dashboard" style="font-size: medium">Already register? Login</a> -->
            </table>
        </form>
    </div>
</div>

<!-- </body> -->
<!-- </html> -->